.editor {
    display: flex;
    margin-left: 5px;
    margin-top: 5px;
    align-items: flex-start;
}

.editor-input {
}

.editor-edit-panel{
    display: flex;
}

.editor-edit-button{
    margin-right: 5px;
}

.editor-control-panel {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.editor-control-button {
    margin-bottom: 5px;
}
