.board {
    margin-top: 1px;
    display: flex;
    flex-direction: row;

    &__row {
        content: "";
        display: table;
        font-size: 0px;
    }

    %__cell {
        border: 1px solid #888;
        margin-right: -1px;
        margin-top: -1px;
        margin-bottom: -1px;
        padding: 0;
        width: 15px;
        height: 15px;
        display: inline-block;
    }

    &__cell {
        &--live {
            @extend %__cell;
            background: #000;
        }

        &--live:hover {
            @extend %__cell;
            background: #060;
        }

        &--dead {
            @extend %__cell;
            background: #fff;
        }

        &--dead:hover {
            @extend %__cell;
            background: #beb;
        }
    }
}
